                body {
                    font-family: 'Ubuntu', sans-serif;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    overflow-x: hidden;
                    background: url("../img/background.jpg") 50% 100vh;
                }
                
                strong {
                    font-size: 18px;
                }
                
                h1 {
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    font-size: 80px;
                    text-align: center;
                    color: white;
                }
                
                h2 {
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    font-size: 32px;
                    font-weight: 200;
                    color: white;
                    text-align: center;
                    margin: 20px 0 20px 0;
                    float: left;
                    position: relative;
                    width: 100%;
                    display: inline-block;
                }
                
                h3 {
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    font-size: 32px;
                    font-weight: 200;
                    color: white;
                    text-align: left;
                    margin: 20px 0 20px 0;
                    float: left;
                    position: relative;
                    width: 100%;
                    display: inline-block;
                }
                
                .section-one-wrapper {
                    background: url("../img/three.jpg") 50% 50% no-repeat;
                    height: 100vh;
                    width: 100%;
                    float: left;
                    position: relative;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    background-size: cover;
                }
                
                .section-one {
                    float: left;
                    position: relative;
                    width: 100%;
                    height: 100vh;
                    display: inline-block;
                    max-width: 1024px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                
                .name-section-one-wrapper {
                    float: left;
                    text-align: center;
                    position: relative;
                    top: 35%;
                    transform: translate(0, -35%);
                    width: 100%;
                    /*background-color: rgba(0, 0, 0, 0.3);*/
                }
                
                .name-section-one {
                    text-align: center;
                    font-size: 80px;
                    font-weight: 700;
                    width: fit-content;
                    border-bottom: 1px solid white;
                }
                
                .intro-section-one {
                    float: left;
                    text-align: center;
                    position: relative;
                    top: 35%;
                    transform: translate(0, -35%);
                    width: 100%;
                    font-size: 40px;
                    color: white;
                    font-weight: 700;
                    left: 100px;
                    /*background-color: rgba(0, 0, 0, 0.3);*/
                }
                
                .arrow-down-button-wrapper {
                    float: left;
                    display: inline-block;
                    position: absolute;
                    right: 20px;
                    bottom: 0;
                    padding: 20px 20px 20px 20px;
                    background: rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                }
                
                .fa.fa-chevron-down {
                    color: white;
                    font-size: 40px;
                }
                
                .section-two-wrapper {
                    background-color: transparent;
                    height: auto;
                    width: 100%;
                    float: left;
                    position: relative;
                    margin: 0 0 0 0;
                    padding-bottom: 5%;
                    padding-top: calc(5% - 20px);
                    color: white;
                    box-shadow: inset 20px 20px 50px black;
                }
                
                .section-two {
                    float: left;
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    max-width: 1024px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                
                .title-section-text {
                    float: left;
                    position: relative;
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    margin: 0 0 20px 0;
                    font-size: 18px;
                    font-weight: 400;
                    color: white;
                }
                
                .about-me-text {
                    float: left;
                    position: relative;
                    text-align: justify;
                    display: inline-block;
                    width: 100%;
                    margin: 0 0 20px 0;
                    font-size: 18px;
                    font-weight: 400;
                }
                
                .title-section {
                    float: left;
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    border-bottom: 1px solid white;
                    margin: 0;
                }
                
                .about-me-wrapper {
                    float: left;
                    position: relative;
                    width: 100%;
                    display: inline-block;
                }
                
                .about-me-text-title {
                    float: left;
                    position: relative;
                    width: calc(100% / 3);
                    display: inline-block;
                }
                
                .about-me-image-wrapper {
                    float: left;
                    position: relative;
                    width: calc(100% / 3);
                    display: inline-block;
                    padding: 20px 0 0 0;
                }
                
                .about-me-image {
                    float: left;
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    height: auto;
                    max-width: 200px;
                    text-align: center;
                    left: 50%;
                    transform: translate(-50%, 0);
                    border: 10px white solid;
                    border-radius: 50%;
                }
                
                .about-me-details {
                    float: left;
                    position: relative;
                    width: calc(100% / 3);
                    display: inline-block;
                }
                
                .title-right-aligned {
                    text-align: right;
                }
                
                .title-left-aligned {
                    text-align: left;
                }
                
                .section-three-wrapper {
                    float: left;
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    padding-bottom: 5%;
                    padding-top: calc(5% - 20px);
                    background-color: transparent;
                    color: white;
                    background: black;
                    box-shadow: inset 20px 20px 50px black;
                }
                
                .section-three {
                    float: left;
                    display: inline-block;
                    max-width: 1024px;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                
                .educations-section-wrapper {
                    float: left;
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    height: auto;
                }
                
                .educations-section {
                    float: left;
                    display: inline-block;
                    width: 100%;
                    position: relative;
                }
                
                .experiences-section-wrapper {
                    float: left;
                    display: inline-block;
                    width: 100%;
                    position: relative;
                }
                
                .experiences-section {
                    float: left;
                    display: inline-block;
                    width: 100%;
                    position: relative;
                }
                
                .location-text {
                    display: inline-block;
                    margin-left: 10px;
                    font-size: 14px;
                    font-weight: 600;
                }
                
                .experiences-right-section-title {
                    margin: 10px 0;
                    font-size: 16px;
                    font-weight: 600;
                    width: 100%;
                }
                
                .experiences-right-section-location {
                    margin: 10px 0;
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                }
                
                .navbar-wrapper {
                    float: right;
                    display: block;
                    background-color: black;
                    color: white;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    z-index: 1;
                }
                
                .navbar-square-wrapper {
                    padding: 20px;
                }
                
                .navbar-square {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                    display: block;
                    position: sticky;
                }
                
                .section-four-wrapper {
                    float: left;
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    padding-bottom: 5%;
                    padding-top: calc(5% - 20px);
                    background-color: transparent;
                    color: white;
                    background: black;
                    box-shadow: inset 20px 20px 50px black;
                }
                
                .section-four {
                    float: left;
                    display: inline-block;
                    max-width: 1024px;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                
                .skills-section-wrapper {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    border-bottom: 1px solid white;
                    padding: 0 0 20px 0;
                }
                
                .skills-section {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                }
                
                .skills-left-section {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 50%;
                }
                
                .skills-right-section {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 50%;
                }
                
                .experiences-left-section {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 20%;
                }
                
                .experiences-right-section {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 80%;
                }
                
                .experiences-right-section-text {
                    float: left;
                    display: inline-block;
                    text-align: justify;
                    position: relative;
                    width: 100%;
                }
                
                .experiences-left-section-school {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    margin: 10px 0;
                    font-weight: 700;
                    font-size: 18px;
                }
                
                .experiences-left-section-date {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    font-size: 14px;
                }
                
                .details-section-bold {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    font-weight: 700;
                    font-size: 16px;
                }
                
                .details-section-not-bold {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                
                .one-left-skill-wrapper {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                }
                
                .one-left-skill {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: calc(100% / 2 - 10px);
                    margin: 20px 0 0 0;
                }
                
                .stars-wrapper {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: calc(100% / 2 - 10px);
                    margin-top: 20px;
                    text-align: right;
                    margin-right: 20px;
                }
                
                .one-right-skill-wrapper {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                }
                
                .one-right-skill {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: calc(100% / 2 - 10px);
                    margin: 20px 0 0 0;
                }
                
                .section-five-wrapper {
                    background-color: transparent;
                    height: auto;
                    width: 100%;
                    float: left;
                    position: relative;
                    margin: 0 0 0 0;
                    padding-bottom: 5%;
                    padding-top: calc(5% - 20px);
                    color: white;
                    box-shadow: inset 20px 20px 50px black;
                }
                
                .section-five {
                    float: left;
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    max-width: 1024px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                
                .project-section-wrapper {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    padding: 20px 0 20px 0;
                }
                
                .project-section {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                }
                
                .project-section-image-wrapper {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: calc(50% - 40px);
                    margin: 20px;
                }
                
                .project-section-image {
                    float: left;
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                    background-size: cover;
                    width: 100%;
                    height: 300px;
                }
                
                .arrow-on-top-wrapper {
                    float: left;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: white;
                    height: 30px;
                    width: 30px;
                }
                
                .fa.fa-external-link.arrow-on-top {
                    font-size: 24px;
                    top: 50%;
                    left: 50%;
                    position: relative;
                    transform: translate(-50%, -50%);
                    color: black;
                }
                
                .footer-section-wrapper {
                    background-color: black;
                    height: auto;
                    width: 100%;
                    float: left;
                    position: relative;
                    margin: 0 0 0 0;
                    padding-bottom: 5%;
                    padding-top: calc(5% - 20px);
                }
                
                .footer-section {
                    float: left;
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    max-width: 1024px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                
                .social-networks-wrapper {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    padding: 20px 0 20px 0;
                }
                
                .social-networks {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: 320px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    margin: 20px 0;
                }
                
                .one-social-network {
                    float: left;
                    display: inline-block;
                    position: relative;
                    width: calc(100% / 4);
                    text-align: center;
                }
                
                .icon-setup {
                    font-size: 40px !important;
                    color: white;
                    cursor: pointer;
                }
                
                .white-color-text {
                    color: white !important;
                }
                
                .title-section.white-color-border {
                    border-bottom: 1px solid white;
                }